.flex_header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &_title {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
  }
}

.record_item {
  font-size: 18px;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  letter-spacing: 1px;
  text-align: center;
  color: #8c8c8c;
}

.todo {
  &_item {
    margin: 4px 0;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  &_list_wrapper {
    margin: 8px 0;
  }
  &_add_wrapper {
    gap: 8px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }
  &_add_input {
    transition: all 0.2s ease;
    outline: 0px solid transparent;
    &:hover {
      outline: 1px solid #22ccee;
    }
  }
}

.circle_btn {
  height: 44px;
  width: 44px;
  border: none;
  border-radius: 22px;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #444;
  }
}

.start_btn {
  height: 44px;
  width: 120px;
  border-radius: 22px;
  border: none;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #444;
  }
}

.flot {
  &_layout {
    height: 60px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #1a1a1a90;
  }
  &_content {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
    background-color: transparent;
  }
  &_header {
    height: 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    &_icons {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      width: fit-content;
      height: 100%;
      justify-content: flex-end;
    }
  }
}

// Todo Together 样式
.todo_together_wrapper {
  width: 100%;
  max-height: 58vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.todo_together_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  font-size: 14px;
}

.todo_together_user_info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
}

.todo_together_summary {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0px;
  flex-wrap: wrap;
  width: 100%;
}

.flot_app {
  margin: 0;
  padding: 0;
  &_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4px;
    padding-bottom: 4px;
    width: 100%;
  }
  &_content {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    height: fit-content;
    width: 100%;
  }

  &_item {
    width: 360px;
  }
}

.ai_analysis_md {
  &_icons {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
  &_empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_header {
    height: 32px;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    &_icon {
      cursor: pointer;
    }
  }
  &_content {
    padding: 16px;
    // max-height: calc(86vh - 92px);
    overflow-y: scroll;
    scrollbar-width: thin;
    height: calc(100% - 92px);
  }
  &_subheader {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;
  }
}
