.view {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  &__lang_select {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &__video {
    overflow: hidden;
    height: auto;
    max-height: 280px;
    min-height: 200px;
    width: min(100%, 448px);
    aspect-ratio: 16/10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 8px;
    &__placeholder {
      height: auto;
      width: 100%;
      aspect-ratio: 16/8;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      & > * {
        height: 70%;
      }
    }
  }
  &__controls {
    width: min(100%, 448px);
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: fit-content;
    &__group {
      // width: 50%;
      height: 44px;
      flex-grow: 1;
      width: 100%;
      &_volume {
        width: 100%;
        height: fit-content;
        background-color: #fff;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid #F59346;
        &__button {
          width: 100%;
          background-color: #1f8cf9;
          padding: 0.8rem;
          transition: all 0.3s ease-in-out;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          &:hover {
            filter: brightness(1.1);
          }
        }
        &__header {
          width: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          &__left {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;
            color: #000;
          }
        }
      }
    }
    &__toggle {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      background-color: #F59346 !important;
    }
    &__form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      input {
        width: 100%;
      }
      &__button {
        width: 100%;
        background-color: #1f8cf9;
        padding: 0.8rem;
        transition: all 0.3s ease-in-out;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}

.loginButtons {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  .loginButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: fit-content;
    width: 100%;
    &_btn {
      cursor: pointer;
      height: 44px;
      width: 100%;
      border: 1px solid #F59346;
      background-color: #F59346;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-size: 14px;
      &:hover {
        background-color: #222;
      }
    }
    span {
      font-size: 14px;
    }
  }
}


.LoginStateBtn {
  position: absolute;
  top: 1rem;
  left: 0rem;
  color: #fff;
  .wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: fit-content;
  }
}